@import 'normalize-scss/sass/normalize/_import-now.scss';
@import './layout';
@import './public';

body {
  background: #000;
}

.scene {
  position: relative;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  margin: 80px auto 0 auto;
  width: 300px;
  height: 300px;
  border: 1px solid #ccc;

  >.panel {
    &.one {
      position: absolute;
      width: 100%;
      height: 100%;
      background-image: url(../assets/images/greeting-card-965112_1280.jpg);
      background-size: 100% 100%;
    }

    &.two {
      position: absolute;
      width: 100%;
      height: 45%;
      background-image: url(../assets/images/greeting-card-965112_1280.jpg);
      background-size: 100% 100%;
      transform: perspective(350px) rotateX(45deg);
      transform-origin: 50% 0%;
    }

    &.top {
      width: 100%;
      height: 55%;
      background-image: url(../assets/images/greeting-card-965112_1280.jpg);
      background-size: 100% 100%;
      transform: perspective(350px) rotateX(-30deg);
      transform-origin: 50% 100%;
    }

    &.bottom {
      width: 100%;
      height: 45%;
      background-image: url(../assets/images/greeting-card-965112_1280.jpg);
      background-size: 100% 100%;
      transform: perspective(350px) rotateX(45deg);
      transform-origin: 50% 0%;
    }
  }
}
